.home .hero img {  
  max-width: 450px!important;  
}  
  
:root {  
  scroll-behavior: smooth;  
  scroll-padding-top: 4.6rem!important;  
  --c-brand: #0094FF;  
  --c-brand-light: #1E61FF;  
}  
  
.navbar {  
	position: initial;  
}  
  
.html-dark {  
	--c-brand: #0094FF!important;  
	--c-brand-light: #1E61FF!important;  
}  
  