.home .hero img {
  max-width: 450px!important;
}

:root {
  scroll-behavior: smooth;
  scroll-padding-top: 4.6rem;
  --c-brand: #0094FF;
  --c-brand-light: #1E61FF;
}

.html-dark {
	--c-brand: #0094FF;
	--c-brand-light: #1E61FF;
}
